main { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main > div {
  width: 21%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

main > div:nth-child(even) {
  background-color: #e8e8e8;
}

main > div:nth-child(odd) {
  background-color: #bbbbb8;
}

main > div > img {
  height: 200px;
}

